<main>
  <app-header />
  <!-- PROJECTS -->
  <app-section [title]="'Projects'" [items]="projects" />
  <!-- <div class="w-[90%] mx-auto">
    <div class="my-4">
      <h3
        class="text-gray-100 text-2xl mt-4 font-bold tracking-wider uppercase"
      >
        Projects
      </h3>
      <div class="w-full bg-white h-0.5 mt-2"></div>
    </div>
    <div class="grid grid-cols-2 gap-6">
      <app-project-item
        [name]="project.name"
        *ngFor="let project of projects"
      />
    </div>
  </div> -->
  <!-- TEAM -->
  <app-section [title]="'Team'" [items]="employees" />
  <!-- <div class="w-[90%] mx-auto">
    <div class="my-4">
      <h3 class="text-gray-100 text-2xl mt-4 font-bold tracking-wider">Team</h3>
      <div class="w-full bg-white h-0.5 mt-2"></div>
    </div>
    <div class="grid grid-cols-2 gap-6">
      <app-project-item
        [name]="employee.name"
        *ngFor="let employee of employees"
      />
    </div>
  </div> -->
</main>
<app-footer />
