<app-header />
<div class="w-[90%] mx-auto max-w-[1200px]">
  <!-- Title Section -->
  <div class="my-4">
    <div class="flex justify-between">
      <h3
        class="text-gray-100 text-2xl mt-4 font-bold tracking-wider uppercase"
      >
        Title
      </h3>
      <h3
        class="text-gray-100 text-2xl mt-4 font-bold tracking-wider uppercase"
      >
        20 Hours
      </h3>
    </div>
    <hr
      class="w-full bg-gradient-to-r from-orange-500 to-yellow-300 h-0.5 mt-2 border-0"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- <app-project-item *ngFor="let item of items" [name]="item.name" /> -->
  </div>
  <!-- table -->
  <table class="w-full my-4 table-auto rounded-xl">
    <thead>
      <tr>
        <th>Task</th>
        <th>Assigned To</th>
        <th>Estimated Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Task 1</td>
        <td>John</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Task 2</td>
        <td>Jane</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Task 3</td>
        <td>Bob</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
  <a href="/">
    <button
      class="text-white font-bold bg-[#FC0062] h-[50px] px-6 rounded-xl hover:bg-[#DE1E69] transition-all ease-in-out duration-300"
    >
      Back
    </button>
  </a>
  <app-footer />
</div>
