<app-header />
<div class="w-[90%] mx-auto max-w-[1200px]">
  <!-- Title Section -->
  <div class="my-4">
    <div class="flex justify-between">
      <h3
        class="text-gray-100 text-3xl mt-4 font-bold tracking-widest uppercase"
      >
        {{ name }}{{ assignments.length >= 1 ? null : "'s Projects List" }}
      </h3>
      <h3
        *ngIf="assignments.length >= 1"
        class="text-gray-100 text-2xl mt-4 font-bold tracking-wider uppercase"
      >
        {{ totalHours }} Hours
      </h3>
    </div>
    <hr class="w-full bg-[#FC0062] h-0.5 mt-2 border-0" />
  </div>
  <!-- table -->
  <table class="w-full my-4 table-auto rounded-xl">
    <thead>
      <!-- if displaying assignments -->
      <tr *ngIf="assignments.length >= 1">
        <th>Task</th>
        <th>Assigned To</th>
        <th>Estimated Hours</th>
      </tr>
      <!-- if displaying project list -->
      <tr *ngIf="projects.length >= 1">
        <th>Project</th>
        <th>Members</th>
        <th>Estimated Hours</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="text-gray-200">
      <!-- if displaying assignments -->
      <tr *ngFor="let assignment of assignments">
        <td>{{ assignment.name }}</td>
        <td>{{ assignment.employee_name }}</td>
        <td>{{ assignment.estimated_hours }}</td>
      </tr>
      <!-- if displaying project list -->
      <tr *ngFor="let project of projects">
        <td>{{ project.project_name }}</td>
        <td>{{ project.employee_names }}</td>
        <td>{{ project.total_estimated_hours }}</td>
        <td>
          <a
            (click)="resetData()"
            [routerLink]="['/details']"
            [queryParams]="{
              name: project.project_name,
              projectID: project.project_id,
              employeeID: undefined,
            }"
            class="my-auto"
          >
            <button
              class="text-white font-bold bg-[#FC0062] h-[50px] py-1 px-4 rounded-xl hover:bg-[#DE1E69] transition-all ease-in-out duration-300"
            >
              View
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/">
    <button
      class="text-white font-bold bg-[#FC0062] h-[50px] px-6 rounded-xl hover:bg-[#DE1E69] transition-all ease-in-out duration-300"
    >
      Back
    </button>
  </a>
  <app-footer />
</div>
